# bat configuration file
# See 'bat --help' for more information

# Set the theme (use 'bat --list-themes' to see all options)
--theme="TwoDark"

# Show line numbers, Git modifications and file header
--style="numbers,changes,header"

# Enable italic text rendering
--italic-text=always

# Use "less" as the pager
--pager="less -FR"
