[Desktop Entry]
Categories=
Comment=🤱🏻 Turn any webpage into a desktop app with Rust.
Exec=pake-asana
StartupWMClass=pake-asana
Icon=pake-asana
Name=asana
Terminal=false
Type=Application
