[Desktop Entry]
Categories=
Comment=🤱🏻 Turn any webpage into a desktop app with Rust.
Exec=pake-brcalendar
StartupWMClass=pake-br-calendar
Icon=pake-br-calendar
Name=br-calendar
Terminal=false
Type=Application
