[Desktop Entry]
Type=Application
Name=br email
Comment=Open br email in Brave app mode
Exec=/usr/local/bin/brave-br-email
StartupWMClass=brave-br-email
Icon=brave-br-email
Terminal=false
