[Desktop Entry]
Type=Application
Name=kong drive
Comment=Open kong drive in Brave app mode
Exec=/usr/local/bin/brave-kong-drive
StartupWMClass=brave-drive.google.com__drive_u_1_my-drive-Default
Icon=brave-kong-drive
Terminal=false
