{
  "mcpServers": {
    "ai-gateway": {
      "command": "npx",
      "args": [
        "-y",
        "sitemcp",
        "https://developer.konghq.com/",
        "-m",
        "/ai-gateway/**",
        "--concurrency",
        "20"
      ]
    }
  }
}
