{
  "mcpServers": {
    "konnect-platform": {
      "command": "npx",
      "args": [
        "-y",
        "sitemcp",
        "https://developer.konghq.com/",
        "-m",
        "/konnect/**",
        "-m",
        "/konnect-platform/**",
        "--concurrency",
        "20"
      ]
    }
  }
}
