git:
  parseEmoji: true
  paging:
    colorArg: always
    pager: ""

gui:
  theme:
    lightTheme: false
    nerdFontVersion: "3"

  showFileTree: true
  showRandomTip: false
  showCommandLog: false

os:
  editCommand: "hx"
  editCommandTemplate: "{{editor}} {{filename}}"

notARepository: "skip"

promptToReturnFromSubprocess: false
