[Desktop Entry]
Categories=
Comment=🤱🏻 Turn any webpage into a desktop app with Rust.
Exec=pake-kong-calendar
StartupWMClass=pake-kong-calendar
Icon=pake-kong-calendar
Name=kong-calendar
Terminal=false
Type=Application
