[Desktop Entry]
Categories=
Comment=🤱🏻 Turn any webpage into a desktop app with Rust.
Exec=pake-avanti
StartupWMClass=pake-avanti
Icon=pake-avanti
Name=avanti
Terminal=false
Type=Application
