---
# zns installation - DNS lookup tool
# https://github.com/znscli/zns

- name: Check if zns is already installed
  ansible.builtin.stat:
    path: /usr/local/bin/zns
  register: zns_binary
  when: app_states['zns'] | default('present') == 'present'

- name: Get installed zns version
  ansible.builtin.command: /usr/local/bin/zns --version
  register: zns_installed_version
  changed_when: false
  failed_when: false
  when:
    - app_states['zns'] | default('present') == 'present'
    - zns_binary.stat.exists

- name: Download and install zns
  when:
    - app_states['zns'] | default('present') == 'present'
    - not zns_binary.stat.exists or (zns_installed_version.stdout is defined and zns_version not in zns_installed_version.stdout)

  # Fish shell integration
  block:
    - name: Download zns
      ansible.builtin.get_url:
        url: "https://github.com/znscli/zns/releases/download/v{{ zns_version }}/zns_{{ zns_version }}_linux_amd64.tar.gz"
        dest: "/tmp/zns_{{ zns_version }}.tar.gz"
        mode: "0644"

    - name: Extract zns
      ansible.builtin.unarchive:
        src: "/tmp/zns_{{ zns_version }}.tar.gz"
        dest: "/tmp"
        remote_src: true

    - name: Install zns binary
      ansible.builtin.copy:
        src: /tmp/zns
        dest: /usr/local/bin/zns
        owner: root
        group: root
        mode: "0755"
        remote_src: true
      become: true

    - name: Clean up temporary files
      ansible.builtin.file:
        path: "{{ item }}"
        state: absent
      loop:
        - "/tmp/zns_{{ zns_version }}.tar.gz"
        - /tmp/zns
        - /tmp/LICENSE
        - /tmp/README.md
- name: Create fish conf.d directory
  ansible.builtin.file:
    path: "{{ user.home }}/.config/fish/conf.d"
    state: directory
    owner: "{{ user.name }}"
    group: "{{ user.name }}"
    mode: "0755"
  when: app_states['zns'] | default('present') == 'present'

- name: Deploy fish abbreviation for zns
  ansible.builtin.template:
    src: zns.fish.j2
    dest: "{{ user.home }}/.config/fish/conf.d/zns.fish"
    owner: "{{ user.name }}"
    group: "{{ user.name }}"
    mode: "0644"
  when: app_states['zns'] | default('present') == 'present'

# Cleanup when absent
- name: Remove zns binary when absent
  ansible.builtin.file:
    path: /usr/local/bin/zns
    state: absent
  become: true
  when: app_states['zns'] | default('present') == 'absent'

- name: Remove fish abbreviation for zns when absent
  ansible.builtin.file:
    path: "{{ user.home }}/.config/fish/conf.d/zns.fish"
    state: absent
  when: app_states['zns'] | default('present') == 'absent'
