[Desktop Entry]
Categories=
Comment=🤱🏻 Turn any webpage into a desktop app with Rust.
Exec=pake-kong-email
StartupWMClass=pake-kong-email
Icon=pake-kong-email
Name=kong-email
Terminal=false
Type=Application
