{
  "mcpServers": {
    "kong-kubernetes": {
      "command": "npx",
      "args": [
        "-y",
        "sitemcp",
        "https://developer.konghq.com/",
        "-m",
        "/kubernetes-ingress-controller/**",
        "-m",
        "/operator/**",
        "--concurrency",
        "20"
      ],
      "env": {
        "XDG_CACHE_HOME": "{{ user.home }}/Documents/Kong/My-drive/Docs/Mcp/kubernetes/.cache"
      }
    }
  }
}
