---
# Fish shell configuration

- name: Install fish shell
  apt:
    name: fish
    state: present
  become: yes

- name: Create fish config directory
  file:
    path: "{{ user.home }}/.config/fish"
    state: directory
    owner: "{{ user.name }}"
    group: "{{ user.name }}"
    mode: '0755'
  become: yes

- name: Create fish conf.d directory for modular configuration
  file:
    path: "{{ user.home }}/.config/fish/conf.d"
    state: directory
    owner: "{{ user.name }}"
    group: "{{ user.name }}"
    mode: '0755'
  become: yes

- name: Deploy fish config
  template:
    src: config.fish.j2
    dest: "{{ user.home }}/.config/fish/config.fish"
    owner: "{{ user.name }}"
    group: "{{ user.name }}"
    mode: '0644'
  become: yes
  when: fish_config_enabled | default(true)

- name: Deploy general fish functions
  template:
    src: fish-general-functions.fish.j2
    dest: "{{ user.home }}/.config/fish/conf.d/general-functions.fish"
    owner: "{{ user.name }}"
    group: "{{ user.name }}"
    mode: '0644'
  become: yes

- name: Deploy download-logo function
  template:
    src: download-logo.fish.j2
    dest: "{{ user.home }}/.config/fish/conf.d/download-logo.fish"
    owner: "{{ user.name }}"
    group: "{{ user.name }}"
    mode: '0644'
  become: yes

- name: Set fish as default shell
  user:
    name: "{{ user.name }}"
    shell: "{{ user.shell }}"
  become: yes
  when: user.shell == '/usr/bin/fish'

- name: Deploy root bashrc with essential aliases and functions
  template:
    src: root-bashrc.j2
    dest: /root/.bashrc
    owner: root
    group: root
    mode: '0644'
  become: yes
  when: root_bashrc_enabled | default(true)
