---
# Flatpak base configuration
# Individual flatpak apps are now managed as individual roles in roles/apps/

- name: Install flatpak
  apt:
    name: flatpak
    state: present
  become: yes
  tags: [system]

- name: Add Flathub repository
  community.general.flatpak_remote:
    name: flathub
    state: present
    flatpakrepo_url: https://dl.flathub.org/repo/flathub.flatpakrepo
  become: yes

  tags: [system]