[Desktop Entry]
Categories=
Comment=🤱🏻 Turn any webpage into a desktop app with Rust.
Exec=pake-workday
StartupWMClass=pake-workday
Icon=pake-workday
Name=workday
Terminal=false
Type=Application
