---
# Handlers for libvirt role

- name: reload udev rules
  ansible.builtin.command:
    cmd: udevadm control --reload-rules && udevadm trigger --subsystem-match=misc
  become: true

- name: reload apparmor profiles
  ansible.builtin.command:
    cmd: apparmor_parser -r /etc/apparmor.d/usr.sbin.libvirtd
  become: true

- name: restart libvirtd
  ansible.builtin.systemd:
    name: libvirtd
    state: restarted
  become: true

- name: reload ufw
  ansible.builtin.command:
    cmd: ufw reload
  become: true
