[Desktop Entry]
Categories=
Comment=🤱🏻 Turn any webpage into a desktop app with Rust.
Exec=pake-bremail
StartupWMClass=pake-br-email
Icon=pake-br-email
Name=br-email
Terminal=false
Type=Application
