[user]
	name = {{ personal.name }}
	email = {{ personal.email }}
	signingkey = {{ git_ssh_signing_key }}

[init]
	defaultBranch = {{ git_config.init.defaultBranch }}

[merge]
	ff = {{ git_config.merge.ff }}
{% if git_delta.enable %}
	conflictstyle = zdiff3
{% endif %}

[push]
	default = {{ git_config.push.default }}

[pull]
	ff = {{ git_config.pull.ff }}
	rebase = {{ git_config.pull.rebase | lower }}

[rebase]
	autoSquash = {{ git_config.rebase.autoSquash | lower }}
	autoStash = {{ git_config.rebase.autoStash | lower }}
	updateRefs = {{ git_config.rebase.updateRefs | lower }}

[commit]
	gpgsign = {{ git_config.commit.gpgsign | lower }}

[tag]
	gpgsign = {{ git_config.tag.gpgsign | lower }}

[gpg]
	format = {{ git_config.gpg.format }}

[gpg "ssh"]
	allowedSignersFile = {{ user.home }}/.config/git/allowed_signers

[core]
	fsmonitor = {{ git_config.core.fsmonitor | lower }}
	editor = hx
{% if git_delta.enable %}
	pager = delta
{% endif %}

[credential]
	helper = {{ git_config.credential.helper }}

{% for url_rewrite in git_url_rewrites %}
[url "{{ url_rewrite.replace }}"]
	pushInsteadOf = {{ url_rewrite.match }}
{% endfor %}

[alias]
{% for alias, command in git_aliases.items() %}
	{{ alias }} = {{ command }}
{% endfor %}

{% if git_delta.enable %}
[interactive]
	diffFilter = delta --color-only

[delta]
	navigate = {{ git_delta.navigate | lower }}
	light = {{ git_delta.light | lower }}
	line-numbers = {{ git_delta.line_numbers | lower }}
	side-by-side = {{ git_delta.side_by_side | lower }}
	features = {{ git_delta.features }}
	hyperlinks = true

[diff]
	colorMoved = default

[pager]
	blame = delta
{% elif git_difftastic.enable %}
[diff]
	tool = difftastic

[difftool]
	prompt = false

[difftool "difftastic"]
	cmd = difft "$LOCAL" "$REMOTE"

[pager]
	difftool = true
{% endif %}
