{% if REGOLITH_LOOK is defined %}
#include "/etc/regolith/styles/{{ REGOLITH_LOOK }}/root"
{% endif %}

{% if BAR_FONT_SIZE is defined %}
i3-wm.bar.font: pango:JetBrains Mono Medium {{ BAR_FONT_SIZE }}, Material Design Icons {{ BAR_FONT_SIZE }}
{% endif %}

{% if GNOME_TERMINAL_FONT_SIZE is defined %}
gnome.terminal.font: JetBrains Mono {{ GNOME_TERMINAL_FONT_SIZE }}
{% endif %}

{% if GAPS_INNER_SIZE is defined %}
i3-wm.gaps.inner.size: {{ GAPS_INNER_SIZE }}
{% endif %}

{% if WALLPAPER_PATH is defined %}
gnome.wallpaper: {{ WALLPAPER_PATH }}
{% endif %}

{% if HIDE_BAR is defined %}
i3-wm.bar.mode: hide
{% endif %}