[Desktop Entry]
Type=Application
Exec=/usr/bin/alttab -w 1 -bg "#282a36" -fg "#f8f8f2" -frame "#bd93f9" -t 128x150 -i 127x64
Hidden=false
NoDisplay=false
X-GNOME-Autostart-enabled=true
Name[en_CA]=alttab
Name=alttab
Comment[en_CA]=
Comment=
