{
  "accentFromPage": false,
  "accentOnWindow": false,
  "accentSaturationLimit": 1,
  "alpha": 1,
  "backgroundImage": "",
  "backgroundPosition": "stretch",
  "blur": 0,
  "buttons": {
    "Back": "Back.svg",
    "BreakMode": "BreakMode.svg",
    "COMMAND_ckqjdk4o7000001l58zh17egm": "COMMAND_ckqjdk4o7000001l58zh17egm.svg",
    "COMMAND_ckqjhvf430003c5429ni7i7bz": "COMMAND_ckqjhvf430003c5429ni7i7bz.svg",
    "COMMAND_ckqkoqycf0003wv4210uduu8n": "COMMAND_ckqkoqycf0003wv4210uduu8n.svg",
    "CalendarStatus": "CalendarStatus.svg",
    "CaptureImages": "CaptureImages.svg",
    "Clock": "Clock.svg",
    "DownloadButton": "DownloadButton.svg",
    "Extensions": "Extensions.svg",
    "FastForward": "FastForward.svg",
    "Forward": "Forward.svg",
    "Home": "Home.svg",
    "ImagesToggle": "ImagesToggle.svg",
    "MailStatus": "MailStatus.svg",
    "PageActions": "PageActions.svg",
    "PanelBookmarks": "PanelBookmarks.svg",
    "PanelCalendar": "PanelCalendar.svg",
    "PanelContacts": "PanelContacts.svg",
    "PanelDownloads": "PanelDownloads.svg",
    "PanelFeeds": "PanelFeeds.svg",
    "PanelHistory": "PanelHistory.svg",
    "PanelMail": "PanelMail.svg",
    "PanelNotes": "PanelNotes.svg",
    "PanelReadingList": "PanelReadingList.svg",
    "PanelSession": "PanelSession.svg",
    "PanelTasks": "PanelTasks.svg",
    "PanelToggle": "PanelToggle.svg",
    "PanelTranslate": "PanelTranslate.svg",
    "PanelWeb": "PanelWeb.svg",
    "PanelWindow": "PanelWindow.svg",
    "Proxy": "Proxy.svg",
    "ReadingList": "ReadingList.svg",
    "Reload": "Reload.svg",
    "Rewind": "Rewind.svg",
    "SearchField": "SearchField.svg",
    "Settings": "Settings.svg",
    "Stop": "Stop.svg",
    "SyncStatus": "SyncStatus.svg",
    "TilingToggle": "TilingToggle.svg",
    "UpdateButton": "UpdateButton.svg",
    "WorkspaceButton": "WorkspaceButton.svg"
  },
  "colorAccentBg": "{{ theme_colors_light.colors.primary.hex }}",
  "colorBg": "{{ theme_colors_light.colors.primary.hex }}",
  "colorFg": "{{ theme_colors_light.colors.text_primary.hex }}",
  "colorHighlightBg": "{{ theme_colors_light.colors.accent.hex }}",
  "colorWindowBg": "{{ theme_colors_light.colors.primary.hex }}",
  "contrast": 0,
  "dimBlurred": false,
  "engineVersion": 1,
  "id": "40b13830-34cf-4cfe-807e-758d01cc1d61",
  "name": "Cosmic Light",
  "preferSystemAccent": false,
  "radius": 12,
  "simpleScrollbar": false,
  "transparencyTabBar": false,
  "transparencyTabs": true,
  "url": "",
  "version": 1
}
