[Desktop Entry]
Categories=
Comment=🤱🏻 Turn any webpage into a desktop app with Rust.
Exec=pake-br-drive
StartupWMClass=pake-br-drive
Icon=pake-br-drive
Name=br-drive
Terminal=false
Type=Application
